<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
  </div>
  
  <div class="container">

    <div class="form-row">
      <div class="form-group col-md-3"></div>
      <div class="form-group col-md-6">
        <label for="nome"></label>
        <input type="text" class="form-control" id="nome" formControlName="nome">
      </div>
    </div>

    <div style="text-align:center">
      <button type="submit" class="btn btn-primary">Pesquisar</button>
    </div>

    <div class="row">
      <div class="list-group col-md-12">
        <div *ngFor="let elemento of elementos; index as i">
          <a href="elemento/{{ elemento.nome }}{{ elemento.complemento }}" class="list-group-item list-group-item-action">
            <div *ngIf="elemento.complemento.length==0; else yesComponent"> {{ elemento.nome }} - Cadastrado por: {{elemento.cadastradoPor}}</div>
            <ng-template #yesComponent>
              <head><style>p.alinha{padding-left: 1.8em }</style></head>
              <p class="alinha">
                 {{ elemento.nome }}
                 {{ elemento.complemento }} - Cadastrado por: {{elemento.cadastradoPor}}
              </p>
            </ng-template>
          </a>
        </div>
      </div>
    </div>
  
    <router-outlet></router-outlet>
  </div>

</form>
