<!DOCTYPE html>
<html lang="pt-br" ng-app="Sei-Saude">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <!-- Materialize -->
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="layout.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--AngularJS-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>


    <!--Main-->
    <script src="js/app.js"></script>

    <!--Controllers-->
    <script src="js/controllers/elementoController.js"></script>

</head>



<body ng-controller="elementoCtrl as elemento">
    <a  href="index.html" class="waves-effect blue lighten-2 btn">Home</a>
    <div class="row">
        <form class="co2 s5">
            <div class="row">
            <div class="input-field col s3">
                Nome
                <input ng-model="elemento._novoElemento.name">
            </div>
            </div>

            <div class="row">
            <div class="input-field col s6">
                Descrição
                <input ng-model="elemento._novoElemento.descricao">
            </div>  
            </div>

            <div class="row">
            <div class="input-field col s3">
                Fabricante
                <input ng-model="elemento._novoElemento.fabricante">
            </div>
            </div>
                    
            <div class="row">
            <div class="input-field col s3">
                CadastradoPor
                <input ng-model="elemento._novoElemento.cadastradoPor">
            </div>
            </div>

            <script type="text/javascript">
                //Escrevendo o código-fonte HTML e ocultando os campos criados:
                for (iLoop = 1; iLoop <= 10; iLoop++) {//Nome componente "+iLoop+": <input type='text' id='arq"+iLoop+"' name='arq"+iLoop+"'>
                        document.write("<span id='linha"+iLoop+"' style='display:none'> <div id='d"+iLoop+"'> <input type='button' value='Remover' ng-click='elemento.removeCampos(\""+iLoop+"\")'></div></span>");
                }
            </script>

            <button class="btn waves-effect blue lighten-2" type="submit" name="action" ng-click="elemento.addCampos()">Adicionar Campos
                <i class="material-icons right">add</i>
            </button>

            <br><br><input type="hidden" name="hidden1" id="hidden1">

            <input type="hidden" name="hidden2" id="hidden2">

            <button class="btn waves-effect blue lighten-2" type="submit" name="action" ng-click="elemento.cadastrar(3)">Submit
                    <i class="material-icons right">send</i>
            </button>
        </form>

              
 <!--JavaScript at end of body for optimized loading-->
 <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 <!-- Materialize JS -->
 <script type="text/javascript" src="js/materialize.js"></script>
</body>
</html>