<!DOCTYPE html>
<html lang="pt-br" ng-app="Sei-Saude">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sei-Saude</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <!-- Materialize -->
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="layout.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="imagem/png" href="./img/enfermeira.png" />

    <!--AngularJS-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>


    <!--Main-->
    <script src="js/app.js"></script>

    <!--Controllers-->
    <script src="js/controllers/situacaoController.js"></script>

</head>

<body ng-controller="situacaoCtrl as situacao">

    <div w3-include-html="index.html"></div>
    <script>includeHTML()</script>

    <div class="row">
            <h3 class="center">Cadastro Doença</h3>

        <form class="co2 s5" autocomplete="off">
        <div class='col s8'>
            <div class="row">
            <div class="input-field col s5 offset-s1">
                Nome
                <input ng-model="situacao._novoSituacao.name">
            </div>
            <div class="input-field col s5">
                Complemento
                <input id="last_name" type="text" class="validate">
              </div>
            </div>

            <div class="row">
            <div class="input-field col s10 offset-s1">
                Descrição
                <textarea ng-model="situacao._novoSituacao.descricao"></textarea>
            </div>  
            </div>

            <div class="divider"></div>

            <div class='col s12'>Preencha o nome de sintoma que deseja dicionar
            <fieldset>
                Nome
                <input type="text" name="sintoma" id="sintoma" ng-model="situacao.sintoma" ng-keyup="situacao.complete(situacao.sintoma)" class="autocomplete" />  
                <ul class="collection" ng-model="situacao.hidethis" ng-hide="situacao.hidethis">
                    <li class="collection-item" ng-repeat="sintoma in situacao.filterSintoma" ng-click="situacao.fillTextbox(sintoma)">{{sintoma}}</li>  
                </ul>

                <div class="row">
                <div class="input-field">
                    Descrição do sintoma
                    <textarea id="sintomaDesc"></textarea>
                </div>  
                </div>
                <button class="btn waves-effect blue lighten-2" type="submit" id="addSintoma" name="action" ng-click="situacao.addSintoma()">Adicionar Sintoma
                    <i class="material-icons right">add</i>
                </button>
            </fieldset>
            </div>

            <div class='col s2 offset-s5'>
                <button class="btn waves-effect blue lighten-2" type="submit" name="action" ng-click="situacao.cadastrar(2)">Finalizar
                        <i class="material-icons right">send</i>
                </button>
            </div>

        </div>

            <div class='col s4' id='sintomasList'>Sintomas adicionados à doença
                <div id='conteudoSintomasList'></div>
            <script>
                function disableAddSintoma(){
                    if(this.value.length > 0) { 
                        document.getElementById('addSintoma').disabled = false; 
                    } else { 
                        document.getElementById('addSintoma').disabled = true;
                    }
                }
            </script>
            </div>

        </form>

    <div >


 <!--JavaScript at end of body for optimized loading-->
 <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 <!-- Materialize JS -->
 <script type="text/javascript" src="js/materialize.js"></script>
</body>
</html>