/*html {
    font-family: tahoma;
}

div, .sub-menu {
    text-align: center;
    background-color: #64b5f6;
}
*/
 
.sub-menu{
    display: none;
}

li:hover > .sub-menu {
    display: table;
}

.sub-sub-menu{
    display: none;
}

ul:hover > .sub-sub-menu {
    display: table;
}