<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()" autocomplete="off">
  <div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
  </div>
  
  <div class="container">

    <div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Cadastro realizado com sucesso!</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="container">

      <div class="form-row" formGroupName="nomeCompleto">
        <div class="form-group col-md-6" [ngClass]="aplicaCssErro('nomeCompleto.nome')">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" formControlName="nome">

          <app-error-msg [control]="formulario.get('nomeCompleto.nome')" label="Nome"></app-error-msg>
        </div>
        <div class="form-group col-md-6">
          <label for="complemento">Complemento</label>
          <input type="text" class="form-control" id="complemento" formControlName="complemento">
        </div>

        <app-error-msg [control]="formulario.get('nomeCompleto')" label="Nome"></app-error-msg>
      </div>
      <div class="form-group">
        <label for="descricao">Descrição</label>
        <textarea class="form-control" id="descricao" formControlName="descricao" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="fabricante">Fabricante</label>
        <input type="text" class="form-control" id="fabricante" formControlName="fabricante">
      </div>
      <div class="form-group">
        <label for="cadastradoPor">Cadastrado por</label>
        <input type="text" class="form-control" id="cadastradoPor" formControlName="cadastradoPor">

        <app-error-msg [control]="formulario.get('cadastradoPor')" label="'Cadastrado por'"></app-error-msg>
      </div>
  
  
      <div class="form-row">
        <div class="form-group col-md-6" formArrayName="componentes">
          <div *ngFor="let componente of formulario.get('componentes').controls; index as i">
            <div class="card" [formGroup]="componente">
              <div class="card-body">
                <h5 class="card-title">Componente
                  <button class="btn" (click)="removeComponente(i)">Remover</button>
                </h5>
                <div class="form-row">
                  <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome">
                  <input type="number" class="form-control col" id="valor" formControlName="valor" placeholder="Valor">
                  <input type="text" class="form-control col" id="unidade" formControlName="unidade" placeholder="Unidade">
                </div>

                <app-error-msg [control]="formulario.get('componentes').at(i).get('nome')" label="Componente"></app-error-msg>
              </div>
            </div>
          </div>
          <button type="button" class="btn" (click)="addComponente()" #scrollBottom>Novo componente</button>
        </div>

        <div class="form-group col-md-6" formArrayName="valNutricionais">
          <div *ngFor="let val of formulario.get('valNutricionais').controls; index as i">
            <div class="card" [formGroup]="val">
              <div class="card-body">
                <h5 class="card-title">Valor Nutricional
                  <button class="btn" (click)="removeValNutricional(i)">Remover</button>
                </h5>
                <div class="form-row">
                  <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome">
                  <input type="number" class="form-control col-md-6" id="quantidade" formControlName="quantidade" placeholder="Quantidade">
                  <input type="text" class="form-control col-md-6" id="unidade" formControlName="unidade" placeholder="Unidade">
                  <div class="input-group mb-3">
                    <input type="number" class="form-control" id="valorDiario" formControlName="valorDiario" placeholder="Valor diario">
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>

                  <app-error-msg [control]="formulario.get('valNutricionais').at(i).get('nome')" label="Valor Nutricional"></app-error-msg>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn" (click)="addValNutricional()" #scrollBottom>Novo valor nutricional</button>
        </div>
        
      </div>
  
    </div>

    <div style="text-align:center">
      <button type="submit" class="btn btn-primary">Finalizar</button>
    </div>
  
    <div style="text-align:right">
      <button type="button" class="btn btn-secondary" (click)="voltar()">Voltar</button>
    </div>

    <router-outlet></router-outlet>
  </div>

  <div style="margin-top: 20px" *ngIf="formulario" >
    <div>Detalhes do form</div>
    <pre>Form válido: {{ formulario.status }}</pre>
    <!--pre>Form submetido: {{ form.submitted }}</pre -->
    <pre>Valores: <br>{{ formulario.value | json }}</pre>
  </div>
</form>