<div *ngIf="carregado">

    <div style="text-align:center">
      <h1>
        {{ situacao.name }}
        {{ situacao.complemento }}
      </h1>
    </div>
  
    <h2>
      Descrição
    </h2> 
    <h3 *ngIf="!descricaoVazia()">
        {{ situacao.descricao }}
    </h3>
    <h3 *ngIf="descricaoVazia()">
      Essa situação ainda não possui uma descrição.
    </h3>

    <div style="text-align:right">
      <button class="btn btn-secondary" (click)="voltar()">Voltar</button>
    </div>
  
  </div>
  
  