<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
  </div>
  
  <div class="container">

    <div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Cadastro realizado com sucesso!</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="form-row" formGroupName="nomeCompleto">
      <div class="form-group col-md-6" [ngClass]="aplicaCssErro('nomeCompleto.nome')">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" formControlName="nome">

        <app-error-msg [control]="formulario.get('nomeCompleto.nome')" label="Nome"></app-error-msg>
      </div>
      <div class="form-group col-md-6">
        <label for="complemento">Complemento</label>
        <input type="text" class="form-control" id="complemento" formControlName="complemento">
      </div>

      <app-error-msg [control]="formulario.get('nomeCompleto')" label="Nome"></app-error-msg>
    </div>
    <div class="form-group">
      <label for="descricao">Descrição</label>
      <textarea class="form-control" id="descricao" formControlName="descricao" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="cadastradoPor">Cadastrado por</label>
      <input type="text" class="form-control" id="cadastradoPor" formControlName="cadastradoPor">

      <app-error-msg [control]="formulario.get('cadastradoPor')" label="'Cadastrado por'"></app-error-msg>
    </div>

    <div style="text-align:center">
      <button type="submit" class="btn btn-primary">Finalizar</button>
    </div>

    <div style="text-align:right">
      <button type="button" class="btn btn-secondary" (click)="voltar()">Voltar</button>
    </div>
  
    <router-outlet></router-outlet>
  </div>


  <div style="margin-top: 20px" *ngIf="formulario" >
    <div>Detalhes do form</div>
    <pre>Form válido: {{ formulario.status }}</pre>
    <!--pre>Form submetido: {{ form.submitted }}</pre -->
    <pre>Valores: <br>{{ formulario.value | json }}</pre>
  </div>
</form>